<template>
  <amplify-authenticator>
    <!-- The rest of your app code -->
    <amplify-sign-out></amplify-sign-out>
  </amplify-authenticator>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>
